body{
    font-family: 'Roboto Slab', serif;
    height: 100vh;

}

header{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c0/KRW_Facade2_final.jpg);
    background-size:cover;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    opacity:0.9;
}
.logo{
    width: 90px;
    border-radius: 50px;
    padding: 5px;
    
}
.nav-bg{
    background-color: rgba(253, 250, 250, 0.857);
}
.navbar-inverse li a{
    color: #1100cd;
}
/*Mouse encima*/
.navbar-inverse li a:hover{
    color: #F0EABE;
}


.title{
    color: #051522;
    font-size: 35px;
    position: absolute;
    top: 30%;
    transform:translateY(-30%);
    text-shadow:1px 1px 0 #ffff;
    justify-content: center; 
}
.span{
    color: #1d3f5c;
    text-shadow: 0.5px 0.5px 0 rgba(255, 255, 255, 0.715);
    font-size: 25px;
}

.col-history{
    margin: 5px;
    padding: 30px;
}

.image{
    max-width: 100%;
    margin-top: 10%;
}

.section{
    background:#F0EABE;
}
.section p{
    color: #1505c2;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-footer{
    width: 180px;
    padding: 5px;
    border-radius: 100%;
}
.bg-footer{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,132,157,1) 100%);
}
.map{
width: 80%;
border: 0;
}
.desarrolladores{
    font-size: 35px;
    transform:translateY(-30%);
    text-shadow:1px 1px 0 #ffff;
    text-align: left;
}
main{
    justify-content: center;
    background: linear-gradient(to bottom, #4993FA, #A0E4F1);
}

.col.nosotros{
    margin: 5px;
    padding: 30px;
}

.desarrolladores .btns{
    display: flex;
} 
.btns a {
position: relative;
margin: 0 10px; height: 50px; width: 160px;
display: block; line-height: 60px;
border-radius: 30px; text-decoration: none;
color: #fff; font-size: 20px;
font-weight: 500;text-transform: uppercase;
letter-spacing: 1px; overflow: hidden;
box-shadow: 0 4px 15px rgba(o, o, o, o.2);

}
.btns a:first-child{
    background:linear-gradient(-80deg, #f5ce62, #e85a19);

}
.btns a:nth-child(2){
    background:linear-gradient(-90deg, #9827ff, #ee3939);
    
}
.btns a:last-child{
    background:linear-gradient(-90deg, #8162cb, #55e7fc);
    
}
.btns .a>span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
   animation: ripples 0.6s linear infinite;

}
@keyframes ripples{
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 500%;
        height: 500%;
        opacity: 0;
    }
}
.card{
    background: linear-gradient(to bottom, #4993FA, rgb(8, 100, 112));
    
}


