

.table-head{
    background-color: #4993FA ;



}

.btn-table-modal-width{max-width: 33.33%;}

/* .admin-modal-body{
background-color: #4993FA ;



} */

@media (max-width: 768px) { 
.letter-size-table{font-size: 0.7rem ;}
.admin-icon-table{font-size: 1rem;}



 }

 @media (min-width: 768px) { 
    
    .admin-icon-table{font-size: 1.5rem;}
    
    
    
     }

/* 
     @media (max-width: 576px) { 
        
        .letter-size-table{font-size: 0.4rem ;}
     .admin-icon-table{font-size: 0.6rem;} } */