.paleta{
   color: #F1FAFB;
   color: #A0E4F1;
   color: #9DC6FF;
   color: #4993FA;
}

.limiter__dr{
   width: 100%;
   margin: 0 auto;
   background-color: #A0E4F1;
   background-image: radial-gradient(circle, #F1FAFB, #A0E4F1, #4993FA)
}



.container-login__dr{
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
